In [1]:
from pandas_datareader import data as pdr
import datetime

start_date = datetime.datetime(2019, 9, 10)
end_date = datetime.datetime(2019, 10, 1)
tickers = ['GOOG', 'AAPL']

def extract_data(tickers, start_date, end_date):
    df = pdr.get_data_yahoo(tickers, start_date, end_date)
    return df  

extract_data(tickers, start_date, end_date)

Attributes        High                      Low                     Open  \
Symbols           AAPL         GOOG        AAPL         GOOG        AAPL
Date
2019-09-10  216.779999  1210.000000  211.710007  1194.579956  213.860001
2019-09-11  223.710007  1222.599976  217.729996  1202.199951  218.070007
2019-09-12  226.419998  1241.859985  222.860001  1223.020020  224.800003
2019-09-13  220.789993  1240.880005  217.020004  1227.010010  220.000000
2019-09-16  220.130005  1239.560059  217.559998  1225.609985  217.729996
2019-09-17  220.820007  1235.000000  219.119995  1223.689941  219.960007
2019-09-18  222.850006  1235.609985  219.440002  1216.530029  221.059998
2019-09-19  223.759995  1244.439941  220.369995  1232.020020  222.009995
2019-09-20  222.559998  1243.319946  217.470001  1223.079956  221.380005
2019-09-23  219.839996  1239.089966  217.649994  1224.170044  218.949997
2019-09-24  222.490005  1246.739990  217.190002  1210.680054  221.029999
2019-09-25  221.500000  1248.300049  217.139999  1210.089966  218.550003
2019-09-26  220.940002  1245.000000  218.830002  1232.267944  220.000000
2019-09-27  220.960007  1244.020020  217.279999  1214.449951  220.539993
2019-09-30  224.580002  1226.000000  220.789993  1212.300049  220.899994
2019-10-01  228.220001  1231.229980  224.199997  1203.579956  225.070007
2019-10-02  223.580002  1196.979980  217.929993  1171.290039  223.059998

Attributes                    Close                 Volume           \
Symbols            GOOG        AAPL         GOOG      AAPL     GOOG
Date
2019-09-10  1195.150024  216.699997  1206.000000  31777900  1260100
2019-09-11  1203.410034  223.589996  1220.170044  44289600  1307000
2019-09-12  1224.300049  223.089996  1234.250000  32226700  1725900
2019-09-13  1231.349976  218.750000  1239.560059  39763300  1301400
2019-09-16  1229.520020  219.899994  1231.300049  21158100  1053300
2019-09-17  1230.400024  220.699997  1229.150024  18318700   955100
2019-09-18  1227.510010  222.770004  1232.410034  25340000  1135100
2019-09-19  1232.060059  220.960007  1238.709961  22060600   996000
2019-09-20  1233.119995  217.729996  1229.930054  55413100  2270000
2019-09-23  1226.000000  218.720001  1234.030029  19165500  1062400
2019-09-24  1240.000000  217.679993  1218.760010  31190800  1583200
2019-09-25  1215.819946  221.029999  1246.520020  21903400  1453000
2019-09-26  1241.959961  219.889999  1241.390015  18833500  1538000
2019-09-27  1243.010010  218.820007  1225.089966  25352000  1353900
2019-09-30  1220.969971  223.970001  1219.000000  25977400  1404100
2019-10-01  1219.000000  224.589996  1205.099976  34805800  1273500
2019-10-02  1196.979980  218.960007  1176.630005  34612300  1615100

Attributes   Adj Close
Symbols           AAPL         GOOG
Date
2019-09-10  216.699997  1206.000000
2019-09-11  223.589996  1220.170044
2019-09-12  223.089996  1234.250000
2019-09-13  218.750000  1239.560059
2019-09-16  219.899994  1231.300049
2019-09-17  220.699997  1229.150024
2019-09-18  222.770004  1232.410034
2019-09-19  220.960007  1238.709961
2019-09-20  217.729996  1229.930054
2019-09-23  218.720001  1234.030029
2019-09-24  217.679993  1218.760010
2019-09-25  221.029999  1246.520020
2019-09-26  219.889999  1241.390015
2019-09-27  218.820007  1225.089966
2019-09-30  223.970001  1219.000000
2019-10-01  224.589996  1205.099976
2019-10-02  218.960007  1176.630005