In [3]:
#data analysis and manipulation
import numpy as np
import pandas as pd
import pandas_datareader as pdr
#data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
#statistics and machine learning
from statsmodels.tsa.api import adfuller
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture as GM
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
import warnings
warnings.simplefilter('ignore')

In [ ]:
#importing the Excel file that contains our features data
fundamentals=pd.ExcelFile('SPO_Data.xlsx')

In [ ]:
#parsing the Fundamentals sheet from our Excel file of which holds our P/E, EPS, and MarketCap data
features=fundamentals.parse('Fundamentals')

In [7]:
import pandas_datareader as pdr
pdr.get_data_fred('GS10').head()

            GS10
DATE
2010-01-01  3.73
2010-02-01  3.69
2010-03-01  3.73
2010-04-01  3.85
2010-05-01  3.42

In [9]:
msft= pdr.get_data_yahoo('MSFT')
msft.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.443624
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.451517
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.301458
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  24.048725
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  24.214581